@charset "utf-8";
/* CSS Document */

.wrap{width:1000px;
      margin:0 auto;
	  font-family:"微软雅黑";}

/*head*/
/*loginbar*/
.loginbar{height:50px;background:#fff;}

.loge1{width:113px;height:37px;border-right:1px solid #cecece;margin-top:7px;margin-bottom:8px;}

.loge1 i{width:90px;height:37px;
        background:url(../img/logo_white.png) no-repeat 0 -5px;
		margin:0px 13px;
		display:block;
		}
.zhuce{height:50px; width:566px;
       float:left;
		border-right:1px solid #cecece;}
.zhuce li{margin-right:20px;}
.zhuce li:last-child{margin-right:0px;}
.fst{margin-left:345px;}
.zhuce a{float:left;font-size:12px;font-weight:bold;line-height:50px;}
.zhuce .zc{background:url(../img/cyou_sprite.png) no-repeat -139px 0;
           width:24px;height:24px;
		   float:left;
		   margin-top:11px;margin-right:6px;
		   }

.zhuce .cz{width:24px;height:24px;
           background:url(../img/cyou_sprite.png) no-repeat -189px 0;
		   float:left;
		   margin-top:11px;margin-right:6px;}
		   
.zhuce .cy{width:24px;height:24px;
           background:url(../img/cyou_sprite.png) no-repeat 0px -104px;
		   float:left;
		   margin-top:11px;margin-right:6px;}
 

.kefu li{border-right:1px solid #cecece;height:50px;}
.kefu li a{margin-left:25px;line-height:50px;font-size:12px;font-weight:bold;float:left;}
.kefu i{margin-left:5px;margin-right:15px;margin-top:23px;background:url(../img/cyou_sprite.png) no-repeat -205px -147px;
        width:7px;height:4px;float:left;}	
.line{background:url(../img/ssa.png)no-repeat;height:5px;}	
/*end loginbar*/	

/*banner*/	


.banner{background:url(../img/header_main.jpg) no-repeat;height:551px;position:relative;}
.banner h2{background:url(../img/logo.gif) no-repeat;
           position:absolute;
		   width:190px;height:100px;
           left:0px;top:0px;}
.banner_nav{padding-top:38px;}
.banner li{float:left;margin-right:25px;}
.banner li:last-child{margin-right:15px;}
.banner a{display:block;color:#bebebe;text-align:center;font-size:14px;line-height:1;}
.banner a:hover{color:#fc4200;}
.banner .loge2{position:absolute;background:url(../img/dddz.png) no-repeat;width:30px;
               height:120px;left:0px;top:50%;margin-top:-40px;}
/*end banner*/
/*end head*/
/*conent*/
.conent{background:url(../img/content.jpg) no-repeat;width:1000px;margin:0 auto;}

.download{width:617px;height:109px;background:url(../img/sprite.jpg) no-repeat;}
.download a{width:100px;height:109px;}
.download a:first-child{width:215px;height:109px;}
.d1:hover{background:url(../img/sprite.jpg) no-repeat 0px -110px;}
.d2:hover{background:url(../img/sprite.jpg) no-repeat -217px -110px;}
.d3:hover{background:url(../img/sprite.jpg) no-repeat -317px -110px;}
.d4:hover{background:url(../img/sprite.jpg) no-repeat -417px -110px;}
.d5:hover{background:url(../img/sprite.jpg) no-repeat -517px -110px;}

.new1{background:url(../img/sever.png) no-repeat; width:357px;height:47px;display:block;
      margin-left:16px;margin-top:5px;padding-top:8px;}
.new1 p{font-size:13px;color:#9faace;margin-left:80px;line-height:20px;}
.new1 a{color:#f00000;}

.player{background:url(../img/sprite.jpg) no-repeat 0 -218px;
      width:383px;height:44px;
	 
	  margin-top:5px;}
.player p{font-size:12px;color:#9faace;margin-left:5px;margin-right:4px; padding-top:14px;}
.player a{font-size:13px;text-decoration:underline;color:#ae3429; padding-top:14px;}
.player i{background:url(../img/ddd.png) no-repeat;width:14px;height:14px;margin-right:18px; margin-top:15px;}
.player span{font-size:12px;color:#9faace;margin-right:16px; padding-top:14px;}
.touch:{background:url(../img/sprite.jpg) no-repeat 0 -218px;}
.touch a{width:41px;height:40px;margin-right:2px;margin-top:3px;}
.w1:hover{background:url(../img/sprite.jpg) no-repeat -398px -221px;}
.w2:hover{background:url(../img/sprite.jpg) no-repeat -442px -221px;}
.w3:hover{background:url(../img/sprite.jpg) no-repeat -486px -221px;}


.news_img1{background:url(../img/main_a1.jpg) no-repeat; width:617px;height:303px;position:relative;}
.news_img1 .gf{background:url(../img/slider_main.png) no-repeat; width:27px;height:63px;
                position:absolute;top:11px;left:11px;}
.news_img1 .mt{background:url(../img/slider_media.png) no-repeat; width:27px;height:63px;
                position:absolute;top:83px;left:11px;}
.gf:hover{background:url(../img/slider_h_main.png) no-repeat;}
.mt:hover{background:url(../img/slider_h_media.png) no-repeat;}
.news_img1 .active{background:url(../img/slider_h_main.png) no-repeat;}
.doc{position:absolute;right:12px;bottom:10px;}
.doc a{background:url(../img/yyy.png) no-repeat;float:left;margin-left:3px;width:15px;height:15px;
     }
.doc a:hover{background:url(../img/yy2.png) no-repeat;width:15px;height:15px;}
.doc .active{background:url(../img/yy2.png) no-repeat;width:15px;height:15px;}


.news_nav{background:url(../img/sprite.jpg) no-repeat 0px -261px;height:58px;width:382px;}
.news_nav a{width:32px;height:56px;padding:0 31px;display:block;float:left;
             text-align:center;line-height:56px;color:#FFF;font-size:13px;}
.news_nav a:hover{background:url(../img/sprite.jpg) no-repeat -94px -323px;color:#fc4200;}
.news_nav .active{background:url(../img/sprite.jpg) no-repeat -94px -323px;color:#fc4200;}
.news_list1	h3{background:url(../img/ddddd.png) no-repeat;
               width:347px;height:35px;display:block;
			   margin-top:18px;margin-left:18px;
			   color:#e93d03;font-size:15px;font-weight:bold;text-align:center;
			   line-height:35px;
			   margin-bottom:8px;}
.news_list1{background:#322e3f;height:303px;}
.news_list1 ul{padding-left:23px;padding-right:18px;width:341px;}
.news_list1 li a{color:#9ca7ca;line-height:26px;font-size:13px;}
.news_list1 li a:hover{color:#fc4200;}
.news_list1 i{background:url(../img/more.jpg) no-repeat; width:13px;height:13px;}	
.more a{color:#9ca7ca;font-size:13px;margin-left:3px;margin-right:18px;} 
.more a:hover{color:#fc4200;}

.column{margin-top:33px;margin-bottom:30px;}
.column a{float:left;margin-right:8px;border:1px solid #433b4f;}
.column a:last-child{margin-right:0px;}

.guild{}
.guild_nav{background:url(../img/sprite.jpg) no-repeat 0 -412px;
           height:57px;width:656px;
		   border:1px solid #433b4f;}
.guild_nav a{width:131px;height:57px;float:left;}
.guild_nav a:last-child{width:132px;}
.g1:hover{background:url(../img/sprite.jpg) no-repeat 0 -470px;}
.g2:hover{background:url(../img/sprite.jpg) no-repeat -130px -470px;}
.g3:hover{background:url(../img/sprite.jpg) no-repeat -261px -470px;}
.g4:hover{background:url(../img/sprite.jpg) no-repeat -390px -470px;}
.g5:hover{background:url(../img/sprite.jpg) no-repeat -521px -470px;}
.guild_nav .active{background:url(../img/sprite.jpg) no-repeat -392px -470px;}
.guild_lft img{border:1px solid #433b4f;margin-top:-1px;}

.guild_rig{position:relative;width:322px;}
.guild_rig i{position:absolute;width:28px;height:31px;
             background:url(../img/sprite.jpg) no-repeat -628px 0px;}
.guild_rig h3{color:#f3ca90;font:18px "黑体";
              margin-left:42px;margin-top:7px;}
			  
.guild_img {position:relative;margin-bottom:10px;margin-top:18px;}			  
.guild_img a{position:absolute;line-height:37px;
             bottom:-1px;padding-left:8px;
	         width:306px;height:37px;
             display:block;
			background:#000;
			opacity:0.4;
			color:#FFF;
			font-size:14px;
			border:1px solid #433b4f;}
.guild_img a:hover{color:#fc4200;}

.guild_news li{background:url(../img/sprite.jpg) no-repeat 0 -529px;
                width:322px; height:26px;margin-bottom:3px;}
.guild_news li:hover{background:url(../img/sprite.jpg) no-repeat -319px -529px;}
.guild_news li a{margin-left:29px;color:#a6b2d8;line-height:26px;}
.guild_news li a:hover{color:#fc4200;}
.guild_news li span{margin-right:11px;color:#a6b2d8;line-height:26px;}
				
				
.entrance{background:url(../img/sprite.jpg) 0 -555px;width:213px;height:189px;margin-bottom:24px;}
.entrance h3{font-size:16px;color:#dbca90;padding-top:14px;padding-left:75px;}


.left_1{margin-top:30px;}
.game_tab{background:#1a191f;margin-top:30px;}
.menu{padding-top:35px;padding-left:23px;width:190px;}
.menu a{color:#867a9b;font-size:13px;line-height:1;
        margin-bottom:16px;float:left;}
.menu a:hover{color:#fc4200;}
.mu{width:99px;text-align:left;}

.video{position:relative;margin-bottom:5px;}
.video i{background:url(../img/prev.png) no-repeat;
         width:9px;height:16px;
		 position:absolute;
		 right:5px;top:50%;margin-top:-5px;}

.media{background:url(../img/sprite.jpg) no-repeat -451px -273px;
       width:206px;height:35px;
	   line-height:35px;text-align:center;
	   display:block;color:#b1a1ca;
	   font-size:16px;
	   margin-bottom:38px;}
.media:hover{background:url(../img/sprite.jpg) no-repeat -451px -310px;}
.vote{background:url(../img/examen.jpg) no-repeat;
      width:183px;height:219px;display:block;}
.vote:hover{background:url(../img/examen.jpg) no-repeat -217px 0;}


.left_2{margin-top:30px;margin-left:20px;}

.exchange_main{width:424px;height:304px;}
.exchange .title i{background:url(../img/sprite.jpg) no-repeat -607px -349px;
                        width:49px;height:31px;
		                margin-left:6px;
		                margin-right:9px;
		                margin-top:3px;}
.exchange .title h3{font-size:19px;color:#f3ca90;
                         margin-top:5px;}
.exchange_nav{background:#1b1a20;}
.exchange_nav li{height:46px;border:1px solid #433b4f;
                 line-height:46px;text-align:center;
				 width:104px;
				 margin-right:-1px;
				 color:#a295b7;
				 background:#1b1a20;}
.exchange_nav li a{color:#a295b7;}
.exchange_nav .more2{width:108px;line-height:48px;
                     height:46px;background:#1b1a20;
		             border-left:1px solid #433b4f;
		             border-bottom:1px solid #433b4f;}
.exchange_nav .more2 a{color:#a295b7;margin-left:4px;}
.exchange_nav .more2 a:hover{color:#fc4200;}
.exchange_nav li a:hover{color:#fc4200;}
.exchange_nav .more2 i{background:url(../img/more.jpg) no-repeat;
                       width:13px;height:13px;
		               margin-top:15px;
		               margin-left:18px;}
.exchange_nav .active{background:#322b3c;border-bottom:none;color:#fc4200;}	 
		 
.exchange_box{background:#322b3c;border:1px solid #433b4f;border-top:none;margin-top:-1px;}	
.exchange_box img{border:1px solid #433b4f;margin-top:20px;
                  margin-left:16px;margin-right:18px;
				  margin-bottom:35px;}
.exchange_box ul{margin-top:27px;}
.exchange_box li{margin-bottom:13px;}	
.exchange_box a{color:#a295b7;} 
.exchange_box a:hover{color:#fc4200;}	 

.media_main .title,.exchange .title{margin-bottom:18px;}
.media_area{margin-top:40px;}
.media_main{width:424px;height:304px;}
.media_area .title i{background:url(../img/sprite.jpg) no-repeat -613px -381px;
                     width:43px;height:31px;
		             margin-left:6px;
		             margin-right:9px;
		             margin-top:3px;}
.media_area .title h3{font-size:19px;color:#f3ca90;
                      margin-top:5px;}
.media_nav{background:#1b1a20;}
.media_nav li{height:46px;border:1px solid #433b4f;
                 line-height:46px;text-align:center;
				 width:104px;
				 margin-right:-1px;
				 color:#a295b7;
				 background:#1b1a20;}
.media_nav li a{color:#a295b7;}
.media_nav .more2{width:108px;line-height:48px;
                  height:46px;background:#1b1a20;
		          border-left:1px solid #433b4f;
		          border-bottom:1px solid #433b4f;}
.media_nav .more2 a{color:#a295b7;margin-left:4px;}
.media_nav .more2 a:hover{color:#fc4200;}
.media_nav li a:hover{color:#fc4200;}
.media_nav .more2 i{background:url(../img/more.jpg) no-repeat;
                    width:13px;height:13px;
		           margin-top:15px;
		           margin-left:18px;}
.media_nav .active{background:#322b3c;border-bottom:none;color:#fc4200;}	 
		 
.media_box{background:#322b3c;border:1px solid #433b4f;border-top:none;margin-top:-1px;}	
.media_box img{border:1px solid #433b4f;margin-top:24px;
                  margin-left:16px;margin-right:18px;
				  margin-bottom:35px;}
.media_box ul{margin-top:27px;}
.media_box li{margin-bottom:13px;}	
.media_box a{color:#a295b7;} 
.media_box a:hover{color:#fc4200;}		 
	 
.tab_right{margin-top:30px;width:322px;}

.game_data .title i{background:url(../img/sprite.jpg) no-repeat -628px -39px;
                     width:28px;height:31px;
		             margin-left:3px;
		             margin-right:18px;
		             margin-top:3px;}
.game_data .title h3{font-size:19px;color:#f3ca90;
                      margin-top:7px;}
					  
.data_box{margin-top:15px;background:#26212d;padding:0 18px;
          width:284px;height:303px;
          border:1px solid #433b4f;}
.data_box li{height:58px;border-bottom:1px dashed #433b4f;line-heigth:58px;}
.data_box li h4{background:url(../img/ffs.png) no-repeat;
                float:left;width:70px;height:20px;
				margin-top:16px;padding-top:6px;padding-left:7px;
				color:#FFF;font-size:14px;margin-right:18px;}
.data_box li a{float:left;color:#9587ab;font-size:13px;line-height:58px;}
.data_box li:last-child{border-bottom:none;}
.data_box li a:hover{color:#fc4200;}	
.data_box li span{float:left;color:#9587ab;line-height:58px;}
.enter_box{width:279px;height:39px;
           border:3px solid #4b3f5c;
			background:#26212d;
			margin-bottom:20px;
			 margin-top:5px;
			 text-align:center;}
.enter_box a{
             color:#b1a1ca;
		     line-height:39px;
			}
.enter_box a:hover{color:#fc4200;}			

.video_data{margin-top:43px;}		
.video_data .title i{background:url(../img/sprite.jpg) no-repeat -623px -78px;
                     width:33px;height:31px;
		             margin-left:1px;
		             margin-right:12px;
		             margin-top:3px;}
.video_data .title h3{font-size:19px;color:#f3ca90;
                      margin-top:7px;}
					  
.video_nav{background:#1b1a20;margin-top:16px;}
.video_nav li{height:46px;border:1px solid #433b4f;
                 line-height:46px;text-align:center;
				 width:104px;
				 margin-right:-1px;
				 color:#a295b7;
				 background:#1b1a20;}
.video_nav li a{color:#a295b7;}
.video_nav .more2{width:108px;line-height:48px;
                  height:46px;background:#1b1a20;
		          border-left:1px solid #433b4f;
		          border-bottom:1px solid #433b4f;}
.video_nav .more2 a{color:#a295b7;margin-left:4px;}
.video_nav .more2 a:hover{color:#fc4200;}
.video_nav li a:hover{color:#fc4200;}
.video_nav .more2 i{background:url(../img/more.jpg) no-repeat;
                    width:13px;height:13px;
		           margin-top:15px;
		           margin-left:18px;}
.video_nav .active{background:#322b3c;border-bottom:none;color:#fc4200;}	

.video_box{background:#322b3c;border:1px solid #433b4f;
            border-top:none;margin-top:-1px;
			padding-left:11px;
			padding-right:13px;
			padding:22px 13px 30px 11px;
			height:205px;} 
.video_box li a{margin-right:18px;float:left;
                margin-bottom:24px;}
.video_box li a:last-child{margin-right:0px;}

.foot{background:#1a191f;}
.note{margin-left:57px;margin-bottom:38px;}
.note i{background:url(../img/game_anc.jpg) no-repeat;height:30px;
        line-height:30px;padding-left:390px;
		padding-top:8px;font-size:17px;color:#908c9b;
		display:block;margin-botttom:22px;}
.note p{font-size:16px;color:#908c9b;text-align:center;line-height:32px;}
.foot .line{background:url(../img/ssa.png)no-repeat;height:5px;}		

/* end head*/

